

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.pattern_row {
  padding-top: 2px;
  padding-bottom: 2px;
}

input {
  height: 2.4em;
  text-align: center;
}

#main {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
  background-color: rgb(244,244,244);
}

#footer {
  margin-top: 20px;
}

.patterns_parent {
  padding-top: 20px;
}
